h2 {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    font-family: "Algerian";
    border-style: double;
}

img {
	display: block;
	margin: auto;
}

body {
	font-size: 100%;
    line-height: 1.5;
  }

p {
	margin-left: 60px;
	margin-right: 60px;
	font-size: 1.125em;
	font-family: "Myriad Pro";
}
/*pre {-moz-tab-size: 20;}*/ /* Code for Firefox */
/*pre {-o-tab-size: 20;}*/ /* Code for Opera 10.6-12.1 */
pre {
	tab-size: 20;
	text-align: center;
	font-size: 1em;
	font-family: Calibri;
}